---
import Base from "../layouts/Base.astro";
import TopBar from "../components/TopBar.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TimelineRewind from "../components/TimelineRewind.astro";
import WhatItRemembers from "../components/WhatItRemembers.astro";
import AskAi from "../components/AskAi.astro";
import Insights from "../components/Insights.astro";
import Privacy from "../components/Privacy.astro";
import AgentsPointer from "../components/AgentsPointer.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <TopBar />
  <main>
    <Hero />
    <HowItWorks />
    <TimelineRewind />
    <WhatItRemembers />
    <AskAi />
    <Insights />
    <Privacy />
    <AgentsPointer />
    <FinalCta />
  </main>
  <Footer />
</Base>
